<div class="container">
  <div class="ordem-compra" *ngIf="idPedidoCompra==undefined">
    <form [formGroup]="formulario" novalidate (ngSubmit)="confirmarCompra()">
    
      <h5>Sua Compra</h5>
      <hr />
    <div *ngFor="let item of itensCarrinho">
      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img [src]="item.img.url" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          {{item.titulo}}
          <br />
         {{item.descricao_oferta}}
        </div>
       
        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link" (click)="diminuirQtd(item)">-</button>
              {{item.quantidade}}
              <button type="button" class="btn btn-link" (click)="aumentarQtd(item)">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          {{item.valor * item.quantidade| currency :'BRL' : 'symbol'}}
        </div>
      </div>
    </div>
      <div *ngIf="itensCarrinho.length > 0;else carrinhoVazio">
      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Valor total da compra {{carrinhoService.totalCarrinho() | currency :'BRL' : 'symbol'}}</h4>
        </div>
      </div>
    </div>

    <ng-template #carrinhoVazio>
      <div class="form-group col d-flex justify-content-center">
      <small class="carrinho-vazio">Seu carrinho está vazio, aproveite nossas ofertas!!!</small>
      </div>
    </ng-template>
      <br />
      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off" 
            formControlName="endereco"
          >
          <small class="form-text text-success" *ngIf="formulario.controls.endereco.valid && formulario.controls.endereco.touched">Ok</small>
          <small class="form-text text-danger" *ngIf="!formulario.controls.endereco.valid && formulario.controls.endereco.touched">Endereco inválido</small>
        </div>

        <div class="form-group col-md-2">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Número" 
            autocomplete="off"
            formControlName="numero"
          >
          <small *ngIf="formulario.get('numero').valid && formulario.get('numero').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('numero').valid && formulario.get('numero').touched" class="form-text text-danger">Número inválido</small>
        </div>

        <div class="form-group col-md-4">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off"
            formControlName="complemento"
          >
        </div>

      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
          
        <div class="form-group col-md-3">
          <select 
            class="form-control"
            formControlName="formaPagamento"
          >
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small *ngIf="formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched" class="form-text text-success">Ok</small>
          <small *ngIf="!formulario.get('formaPagamento').valid && formulario.get('formaPagamento').touched" class="form-text text-danger">Forma de pagamento inválida</small>
        </div>
      </div>

      <hr />
      <button 
        type="submit" 
        class="btn btn-primary btn-lg"
    
      >Confirmar compra</button>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="idPedidoCompra!=undefined">
    <app-ordem-compra-sucesso [idPedido]="idPedidoCompra"></app-ordem-compra-sucesso>
  </div>
</div>