<div class="container">
  <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">
    <form novalidate>
    
      <h5>Sua Compra</h5>
      <hr />

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          Super Burger
          <br />
          Rodízio de Mini-hambúrger com opção de entrada.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          29.90
        </div>
      </div>
      
      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          Estância das águas
          <br />
          Diversão garantida com piscinas, trilhas e muito mais.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          31.90
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Total do pedido: 61.80</h4>
        </div>
      </div>
      <br />


      <h5>Dados de entrega</h5>
      <hr />

      <div class="form-row">

        <div class="form-group col-md-6">
          <input type="text" class="form-control {{enderecoPrimitivo ? '' : (enderecoValido ? 'is-valid' : 'is-invalid')}}" 
          placeholder="Endereço" autocomplete="off" minlength="5" required [value]="endereco"
          #inputEndereco
          (input)="atualizaEndereco(inputEndereco.value)">
          <div *ngIf = "enderecoPrimitivo == false">
            <div *ngIf = "enderecoValido == false ; else msgEnderecoValido">
                <small class="form-text text-danger">Endereço inválido</small>
            </div>
            <ng-template #msgEnderecoValido>
                <small class="form-text text-sucess">Ok</small>
            </ng-template>
          </div>
        </div>

        <div class="form-group col-md-2">
          <input type="text" class="form-control {{numeroPrimitivo ? '' : (numeroValido ? 'is-valid' : 'is-invalid')}}" placeholder="Número" autocomplete="off" minlength="1" required [value]="numero"
          #inputNumero
          (input)="atualizaNumero(inputNumero.value)">
          <br />
          <div *ngIf="numeroPrimitivo == false">
            <div *ngIf="numeroValido == true ; else msgNumeroInvalido">
                <small class="form-text text-sucess">Ok</small>
            </div>
           <ng-template #msgNumeroInvalido>
              <small class="form-text text-danger">Número inválido</small>
           </ng-template>
          </div>  
        </div>

        <div class="form-group col-md-4">
          <input type="text" class="form-control {{complementoPrimitivo ? '' : (complementoValido ? 'is-valid' : 'is-invalid')}}" placeholder="Complemento" autocomplete="off" [value]="complemento"
          #inputComplemento
          (input) = "atualizaComplemento(inputComplemento.value)">
          <div *ngIf="complementoPrimitivo == false">
            <div *ngIf="complementoValido == true; else msgComplementoInvalido">
                <small class="form-text text-sucess">Ok</small>
            </div>
            <ng-template #msgComplementoInvalido>
                <small class="form-text text-danger">Complemento inválido</small>
            </ng-template>
          </div>
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
          
        <div class="form-group col-md-3">
          <select class="form-control {{formaPagamentoPrimitivo ? '' : (formaPagamentoValido ? 'is-valid' : 'is-invalid')}}"
          #selectFormaPagamento
          (change)="atualizaFormaPagamento(selectFormaPagamento.value)">
            <option value = "">Selecione uma opção</option>
            <option value = "dinheiro" selected="{{formaPagamento == 'dinheiro' ? 'selected' : '' }}">Dinheiro</option>
            <option value = "debito" selected="{{formaPagamento == 'debito' ? 'selected' : '' }}">Débito</option>
          </select>
                <div class="invalid-feedback" *ngIf="formaPagamentoValido == false">Selecione uma forma de pagamento</div>

        </div>
      </div>

      <hr />
      <div >
      <button type="button" class="btn btn-primary btn-lg" [disabled]="formEstado" 
      (click) = "confirmarCompra()">Confirmar compra
      </button>
    </div>
    </form>
  </div>
  <div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
    <app-ordem-compra-sucesso [idPedido] = idPedidoCompra></app-ordem-compra-sucesso>
    </div>
</div>