.ordem-compra{
    margin-top:50px;
    margin-bottom: 50px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
select.ng-invalid.ng-touched{
    border: 1px solid red;
}
input.ng-valid.ng-touched{
    border: 1px solid green
}
select.ng-valid.ng-touched{
    border: 1px solid green;
}
.carrinho-vazio{
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
    color: rgb(27, 26, 26);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(199, 184, 173);
    
}